html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#toolbar {
	float: left;
	position: fixed;
	top: 30%;
	left: 0%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

#robot {
	width:50px; 
	height:50px; 
	float:left;
}

#sheep {
	width:50px; 
	height:50px;
}

#strawberry {
	width:50px; 
	height:50px;
	
}
	  